<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>googleTest</servlet-name>
		<servlet-class>edu.softserveinc.healthbody.webclient.servlets.GoogleTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>googleTest</servlet-name>
		<url-pattern>/googleTest</url-pattern>
	</servlet-mapping>

<!-- @xtralife Google test playground
	<servlet>
		<servlet-name>CalendarServletSample</servlet-name>
		<servlet-class>edu.softserveinc.healthbody.webclient.servlets.CalendarServletSample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalendarServletSample</servlet-name>
		<url-pattern>/calendar</url-pattern>
	</servlet-mapping>
-->
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

	<welcome-file-list>
 	    <welcome-file>main</welcome-file>
		<welcome-file>googleTest</welcome-file>
	</welcome-file-list>
</web-app>